{% extends 'moderatorpanel/base.html' %}
{% load static %}

{% block title %}Question Form{% endblock %}

{% load crispy_forms_tags %}


{% block css %}

<style type="text/css">
  #id_question_content, #id_question_category, #id_question_keywords_associated, #id_poll_content, #id_poll_category, #id_poll_keywords_associated{
    width: 100%;
  }

</style>

{% endblock %}

{% block page_heading %}

<div>
    Question Form
    <div class="page-title-subheading">This is a dedicated Moderator dashboard for Collectanea Content writers
    </div>
</div>

{% endblock %}


{% block dashboard %}       

<div class="mb-3 card">
  <div class="card-header">
      <ul class="nav nav-justified">
          <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-0" class="nav-link show active">Form</a></li>
      </ul>
  </div>
  <div class="card-body">
      <div class="tab-content">
          <div class="tab-pane show active" id="tab-eg7-0" role="tabpanel">
            <div class="card-body"><h5 class="card-title"></h5> 
              <form class="" method="POST" action="{% url 'moderator:add_question' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% include 'moderatorpanel/qform.html' %}
                  
                <div class="position-relative row form-check text-right">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div> 
              </form>
            </div>
          </div>
      </div>
  </div>
</div>
      
</div>

  

{% endblock %}

{% block js %}

<script type="text/javascript">

console.log("hdsgbfkasdgbfu")

$("#id_keywords_associated").css("width", "100%");

$("#id_keywords_associated").select2({
    tags:true,
    delay: 250,
    placeholder: "Type and press enter to add keywords",
    theme: "classic",
    minimumInputLength: 3,
    ajax :{
      url: '{% url "moderator:return_keyword" %}',
      dataType: 'json',
      data: function(params){
      return{
        'k': params.term
       };
      },
      processResults: function (data){
        return {
            results: $.map(data, function (item) {
                return {id: item.id, text: item.name};
            })
        };
      },
      cache: true,
    }
});

//setup before functions
var typingTimer;                //timer identifier
var doneTypingInterval = 2000;  //time in ms (3 seconds)

$('[name="content"]').on('change keyup paste', function(event){
  clearTimeout(typingTimer);
  // if ($('[name="content"]').val()) {
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
  // }
});

$('[name="content"]').on('keydown', function(event){
  clearTimeout(typingTimer)
});

//user is "finished typing," do something
function doneTyping () {
 
    var question = $('[name="content"]').val();
    var qtype = document.getElementById('id_question_type').value
    console.log("working")
    console.log(question)
    console.log(qtype)
    if(qtype == 'poll'){
      $.ajax({
        url: '{% url "moderator:question_suggestion" %}',
        method: 'get',
        data:{
          'p':question
        },
        dataType:'json',
        success: function(data){
          // if (data.question){
          //   console.log(data.question);
          //   console.log(data.id);
          //   $("#id_content").after(data.question).id="qsuggest_"+data.id;
          // }
          if(data.length>0 && data != None){
            for(i=0; i<data.length; i++){
              $("#id_content").after(data[i]).id="qsuggest_"+i;
            }
          }
        }
      });
      return false;
    }
    else if(qtype == 'normal'){
      $.ajax({
        url: '{% url "moderator:question_suggestion" %}',
        method: 'get',
        data:{
          'q':question
        },
        dataType:'json',
        success: function(data){
          if(data.length>0 && data != None){
            for(i=0; i<data.length; i++){
              $("#id_content").after(data[i]).id="qsuggest_"+i;
            }
          }
          
          // if (data.question){
          //   console.log(data);
          //   for()
          //   $("#id_content").after(data.question).id="qsuggest_"+data.id;
          // }
        }
      });
      return false;
    }
  
}

function showChoice()
{
    qtype = document.getElementById('id_question_type').value
    console.log(qtype)
    if(qtype == 'poll'){
      document.getElementById('choices').style.display = 'block'
      $('[name="form-0-choice"]').prop('required',true);
      $('[name="form-1-choice"]').prop('required',true);
      $('#choices input').attr({'class':'ml-1'})

    }
    else if(qtype == 'normal'){
      document.getElementById('choices').style.display = 'none'
    }
}

document.getElementById('choice-3').style.display = 'none'
document.getElementById('choice-4').style.display = 'none'
$("#id_content").attr("placeholder", "Enter your question here, Max 250 Chars.");

var f = 0;

function add_choice(){
  if(f==0){
    console.log("clicked")
    document.getElementById('choice-3').style.display = 'block';
    f=1;
  }
  else{
    document.getElementById('choice-4').style.display = 'block';
    document.getElementById('add-choice').style.display = 'none'
  }
}
$(".select2-search__field").on({
  keydown: function(e) {
    if (e.which === 32)
      return false;
  },
  change: function() {
    this.value = this.value.replace(/\s/g, "");
  }
});

$(function() {
  // Multiple images preview in browser
  // preview = $("#f_preview");  
  var imagesPreview = function(input, preview) {
    $("#f_preview").empty();
      if (input.files) {
          var filesAmount = input.files.length;
          console.log('total:',filesAmount)
          for (var i = 0; i < filesAmount; i++) {
            var reader = new FileReader();
            reader.onload = function(event) {
              // var file = event.target.files;

              var file = input.files;
              // console.log(input.file[i].name);
              console.log(file);
              console.log('i',i)
              var fname = file[0].name;
              console.log(fname);
              var extension = fname.slice((Math.max(0, fname.lastIndexOf(".")) || Infinity) + 1);
              console.log("extension", extension)
              if (extension == 'jpeg' || extension == 'jpg' || extension == 'png' || extension == 'svg'){
                $($.parseHTML('<img>')).attr('src', event.target.result).attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }
              else if(extension == 'pdf'){
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/pdf.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }
              else if(extension == 'txt'){
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/txt.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              } 
              else if(extension === 'ppt'){
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/ppt.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }else if(extension === 'doc'){
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/doc.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }else if(extension === 'xlsx'){
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/xlsx.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }else {
                $($.parseHTML('<img>')).attr('src', "{% static 'moderatorpanel/login/icons/document.svg' %}").attr("height", "100px").attr("width", "100px").attr('class', "m-1").appendTo(preview);
              }

            }
            reader.readAsDataURL(input.files[i]);
            
          }
          // $(".image_preview").css("height", "120px");
          // $(".image_preview").css("width", "100px");
      }

  };
  var file = document.getElementById("id_file");
      file.onchange = function() {
      imagesPreview(this, '#f_preview');
  };
});

</script>

{% for message in messages %}
<script>
  alert('{{message}}')
</script>
{% endfor %}


{% endblock %}