

{% for reply in replies_obj %}

  <div data-parent="#exampleAccordion" id="collapseExample{{forloop.parentloop.counter}}" class="collapse" style="">
    <p class="">
      <div class="main-card ml-5 card" style="background-color: #e2e2e2; ">
        <div class="card-body">
          <a href="" style="text-decoration: none; color: black;">  
        <img width="30" class="rounded-circle" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">&nbsp;{{ reply.user_id.fullname|title }}
        </a>
        <p class="ml-4">
          {{reply}}
        </p>
        <div style="float: right;">
          <i class="fa fa-fw m-1 " aria-hidden="true" title="Copy to use thumbs-up"></i>{{reply.like_count}}
          <i class="fa fa-fw m-1" aria-hidden="true" title="Copy to use thumbs-down"></i>{{reply.dislike_count}}
        </div>
        </div>
      </div>
    </p>

    
  </div>

{% endfor %}