{% extends 'adminpanel/base.html' %}

{% load static %}

{% block title %}Answer and Replies{% endblock %}

{% block page_heading %}

<div>
    Answers and Replies
    <div class="page-title-subheading">This is a dedicated Moderator dashboard for Collectanea Content writers.
    </div>
</div>

{% endblock %}


{% block dashboard %}

  <div class="row">
  	
  	<div class="col-md-12">
  		
  		<div class="main-card mb-3 card" style="position:relative; background-color: ;">
        <div class="card-body">
            <h5 class="card-title" 
                style="overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      font-size: 20px;
                      text-transform: none;">
            {% if not question.status == 'deleted' %}
              {{question.content|title}} 
            {% else %}
              <i>Question Deleted</i>
            {% endif %} 
            
            <div style="float: right;">
            {% if question.status == 'deleted' %}
            <a href="{% url 'adminpanel:retrieve_question' question.id %}">
              <button class=" border-0 btn-transition btn btn-outline-info">
                <i class="fa fa-fw" aria-hidden="true" title="Restore content"></i>
              </button> 
            </a>
            {% else %}
              <button class=" border-0 btn-transition btn btn-outline-warning js-edit-question" data-toggle="modal" data-target="#modal-book"  data-url="{% url 'adminpanel:edit_question' question.id %}">
                <i class="fa fa-fw" aria-hidden="true" title="Edit"></i>
              </button>  
              <a href="{% url 'adminpanel:delete_question' question.id %}"> 
              <button class=" border-0 btn-transition btn btn-outline-danger">
                <i class="fa fa-fw" aria-hidden="true" title="Delete"></i>
              </button>  
              </a>
            {% endif %}
             
            </div>
              
            </h5>
            
          <p class="card-subtitle">
            <div class="mb-2 mr-2 badge badge-pill badge-success">{{question.category}}</div>

            {% for keyword in question.keywords_associated.all %}
            <div class="mb-2 mr-2 badge badge-pill badge-info">{{keyword}}</div>
                {% endfor %}                
          </p>
          <span style="font-style: italic;">
            Posted {{question.created_at|timesince}} ago.
          </span>
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="btn-group">
                      {% if question.author.avatar %}
                      <a href="{% url 'adminpanel:moderator_profile' question.author.id %}" class="p-0 btn">
                          <img width="42" class="rounded-circle" src="{{question.author.avatar.url}}" alt="">
                      </a>
                      {% else %}
                      <a href="{% url 'adminpanel:moderator_profile' question.author.id %}" class="p-0 btn">
                          <img width="42" class="rounded-circle" src="/static/moderatorpanel/images/dummy.webp" alt="">
                      </a>
                      {% endif %}
                                
                    </div>
                    
                  </div>
                  
                  <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading">
                      {{question.author.fullname}}

                    </div>
                    <div class="widget-subheading">
                      {{question.author.profession}}
                    </div>

                  </div>
                  
                </div>
                
                <div class="mt-3 ml-2" style="position: relative;">
                  <p>
                      Total Answers : {{question.answer_count}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                      <i class="fa fa-heart m-1" aria-hidden="true" title="Copy to use thumbs-up">&nbsp;</i>{{question.like_count}}
                    <i class="fa fa-fw m-1" aria-hidden="true" title="Copy to use arrow-up"></i> {{question.upvote_count}}
                    <i class="fa fa-fw m-1" aria-hidden="true" title="Copy to use arrow-down"></i> {{question.downvote_count}}
                  </p>
                </div>
            </div>  <p>
              {% for file in files %}
                  {% if file.file_type == 'image/jpg' or file.file_type == 'image/png' or file.file_type == 'image/jpeg' or file.file_type == 'image/gif' or file.file_type == 'image/svg+xml' %}
                    <a href="{{file.file.url}}">
                      <img src="{{file.file.url}}" alt="" height="100px" width="100px">
                      <!-- {{file.file.name|make_list|slice:"/"|last}} -->
                    </a>
                  {% elif file.file_type == 'application/pdf' %}
                    <a href="{{file.file.url}}">
                      <img src="{% static 'moderatorpanel/login/icons/pdf.svg' %}" alt="" height="100px" width="100px">
                      
                    </a>
                  {% elif file.file_type == 'application/msword' or file.file_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                    <a href="{{file.file.url}}">
                      <img src="{% static 'moderatorpanel/login/icons/docs.svg' %}" alt="" height="100px" width="100px">
                      
                    </a>
                  {% elif file.file_type == 'application/vnd.ms-powerpoint' or file.file_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' %}
                    <a href="{{file.file.url}}">
                      <img src="{% static 'moderatorpanel/login/icons/ppt.svg' %}" alt="" height="100px" width="100px">
                      
                    </a>
                  {% elif file.file_type == 'text/plain' %}
                    <a href="{{file.file.url}}">
                      <img src="{% static 'moderatorpanel/login/icons/txt.svg' %}" alt="" height="100px" width="100px">
                      
                    </a>
                  {% elif file.file_type == 'application/vnd.ms-excel' or file.file_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
                    <a href="{{file.file.url}}">
                      <img src="{% static 'moderatorpanel/login/icons/ppt.svg' %}" alt="" height="100px" width="100px">
                      
                    </a> 
                  {% endif %}
              {% endfor %}
            </p>
            <div id="answers">
            {% for answer in answers %}
          <div class="main-card mb-3 ml-5 card" style="background-color: #f2f2f2;">
            <div class="card-body">
              <a href="" style="text-decoration: none; color: black;">  
                {% if answer.user_id.avatar %}
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                    <img width="42" class="rounded-circle" src="{{answer.user_id.avatar.url}}" alt="">
                </a>
                {% else %}
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                    <img width="42" class="rounded-circle" src="/static/moderatorpanel/images/dummy.webp" alt="">
                </a>
                {% endif %}&nbsp;
              {{answer.user_id.fullname|title}}
              </a>
              <span style="font-style: italic;">
                ,Posted {{answer.created_at|timesince}} ago.
              </span>
            <div style="float: right;">
            {% if answer.status == 'deleted' %}
            <a href="{% url 'adminpanel:retrieve_answer' answer.id %}">
              <button class=" border-0 btn-transition btn btn-outline-info">
                <i class="fa fa-fw" aria-hidden="true" title="Restore content"></i>
              </button> 
            </a>
            {% else %}
              <a href="{% url 'adminpanel:delete_answer' answer.id %}">
              <button class="border-0 btn-transition btn btn-outline-danger">
                <i class="fa fa-fw" aria-hidden="true" title="Copy to use trash"></i>
              </button>  
              </a>
            {% endif %}
            </div>
              <p class="ml-4">
                  {% if not answer.status == 'deleted' %}
                	 {{answer.content}}
                  {% else %}
                    <i>Answer Deleted</i>
                  {% endif %}
                
              </p> 
            </div>
            {% if not replies.count == 0 %}
            <div class="container">
            	<div id="exampleAccordion" data-children=".item">
            	<div class="item mb-3">
                <span>
                <button type="button" aria-expanded="false" aria-controls="exampleAccordion" data-toggle="collapse" data-target="#collapseExample{{forloop.counter}}" class="mb-1 mr-1 btn btn-outline-dark btn-sm">Click to see all {{replies.count}} Replies</button></span>
                <span style="float: right;">
                <i class="fa fa-fw m-1 " aria-hidden="true" title="Copy to use thumbs-up"></i>{{answer.like_count}}
                <i class="fa fa-fw m-1" aria-hidden="true" title="Copy to use thumbs-down"></i>{{answer.dislike_count}}
                </span>
                <div id="replies">
                {% for reply in replies %}

                  <div data-parent="#exampleAccordion" id="collapseExample{{forloop.parentloop.counter}}" class="collapse" style="">
                  	<p class="">
                  		<div class="main-card ml-5 card" style="background-color: #e2e2e2; ">
                  			<div class="card-body">
                  				<a href="" style="text-decoration: none; color: black;">  
                            {% if reply.user_id.avatar %}
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="42" class="rounded-circle" src="{{reply.user_id.avatar.url}}" alt="">
                            </a>
                            {% else %}
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="42" class="rounded-circle" src="/static/moderatorpanel/images/dummy.webp" alt="">
                            </a>
                            {% endif %}&nbsp;{{ reply.user_id.fullname|title }}
                        </a>
                        <span style="font-style: italic;">
                          ,Posted {{reply.created_at|timesince}} ago.
                        </span>
                        <div style="float: right;">
                          {% if reply.status == 'deleted' %}
                          <a href="{% url 'adminpanel:retrieve_answer' answer.id %}">
                            <button class=" border-0 btn-transition btn btn-outline-info">
                              <i class="fa fa-fw" aria-hidden="true" title="Restore content"></i>
                            </button>
                          </a>
                          {% else %}
                          <a href="{% url 'adminpanel:delete_reply' reply.id %}">
                          <button class="border-0 btn-transition btn btn-outline-danger">
                            <i class="fa fa-fw" aria-hidden="true" title="Copy to use trash"></i>
                          </button>  
                          </a>
                          {% endif %}
                        </div>
                        <p class="ml-4">
                  				{% if not reply.status == 'deleted' %}
                           {{reply}}
                          {% else %}
                            <i>Reply Deleted</i>
                          {% endif %}
                        </p>
                        <div style="float: right;">
                          <i class="fa fa-fw m-1 " aria-hidden="true" title="Copy to use thumbs-up"></i>{{reply.like_count}}
                          <i class="fa fa-fw m-1" aria-hidden="true" title="Copy to use thumbs-down"></i>{{reply.dislike_count}}
                        </div>
                  			</div>
                  		</div>
                  	</p>

                    {% if forloop.last %}
                    <button data-url="{% url 'adminpanel:replies' answer.id %}" class="load_replies mb-2 mr-2 border-0 btn-transition btn btn-outline-dark" data-page="2">See More Replies</button>
                    {% endif %}

                  </div>

                {% endfor %}
              </div>              

              </div> 
            </div>
            </div>
            {% endif %}
    	    </div>
            {% empty %}
             <center>No Answers Yet! </center>
            {% endfor %}
          </div>
        </div>
  </div>

  	</div>

  </div>	

{% endblock %}

{% block js %}

<script type="text/javascript">

(function($) {
  $('.load_replies').on('click', function() {
    console.log("replies clicked")
    var link = $(this);
    var page = link.data('page');
    $.ajax({
      type: 'get',
      url: link.attr("data-url"), 
      data: {
        'page': page,
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.has_next) {
            console.log(data.has_next)
            link.data('page', parseInt(page)+1);
        } else {
          console.log("No next page")
          link.hide();
        }
        // append html to the posts div
        console.log("appended")
        $('#replies').last().append(data.reply_html).hide().fadeIn("slow");
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));

(function($) {
  $('#load_answers').on('click', function() {
    var link = $(this);
    var page = link.data('page');
    console.log("Page",link.data('page'))
    $.ajax({
      type: 'get',
      url: link.attr("data-url"), 
      data: {
        'page': page,
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.has_next) {
            console.log(data.has_next);
            link.data('page', parseInt(page)+1);
            console.log(link.data('page'))
        } else {
          console.log("No next page")
          link.hide();
        }
        // append html to the posts div
        console.log("appended")
        $('#answers').last().append(data.ans_html).hide().fadeIn();
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));

</script>

{% endblock %}