<form method="post" enctype="multipart/form-data" action="{% url 'adminpanel:create_category' %}" class="js-category-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create a new Category</h4>
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'adminpanel/category_form.html' %}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create Category</button>
  </div>
</form>

