{% extends 'adminpanel/base.html' %}

{% block title %}Admin Home{% endblock %}

{% block page_heading %}
                                    
                                    
<div>
    {% if request.user.is_admin %}
    Collectanea SuperAdmin Dashboard
    {% else %}
    Collectanea Admin Dashboard
    {% endif %}
    <div class="page-title-subheading">This is a dedicated Admin dashboard for Collectanea Content Supervisors
    </div>
</div>
{% endblock %}
{% block dashboard %}

<div class="row">
    <div class="col-lg-6 col-xl-3">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Active Users</div>
                    <!-- <div class="widget-subheading">Last year expenses</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{total_active_users}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Moderators</div>
                    <!-- <div class="widget-subheading">Clients Profit</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{total_moderators}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Categories</div>
                    <!-- <div class="widget-subheading">revenue streams</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span>{{total_categories}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Open Questions</div>
                    <!-- <div class="widget-subheading">People Interested</div> -->
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-dark"><span>{{total_open_questions}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xl-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Users</div>
                                    <div class="widget-subheading">Total no. of users</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-success">{{total_users}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Active Users</div>
                                    <div class="widget-subheading">Total Active Users</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-primary">{{total_active_users}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Blocked Users</div>
                                    <div class="widget-subheading">Total Blocked Users</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-danger">{{total_blocked_users}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Deleted Users</div>
                                    <div class="widget-subheading">Total Deleted Users</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-warning">{{total_deleted_users}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Open Questions</div>
                                    <div class="widget-subheading">Total questions visible to all</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-success">{{total_open_questions}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Waiting Questions</div>
                                    <div class="widget-subheading">Waiting for the admin approval</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-primary">{{total_waiting_questions}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Pending Questions</div>
                                    <div class="widget-subheading">Needed review after editing</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-danger">{{total_pending_questions}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Deleted Questions</div>
                                    <div class="widget-subheading">Total Questions Deleted</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-warning">{{total_deleted_questions}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xl-4">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Spammed Questions</div>
                  <div class="widget-subheading">No. of questions spammed</div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-success"><span>{{total_spammed_questions}}</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-4">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Spammed Answers</div>
                  <div class="widget-subheading">No. of answers spammed</div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-primary"><span>{{total_spammed_answers}}</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-4">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Spammed Replies</div>
                  <div class="widget-subheading">No. of replies spammed</div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-warning"><span>{{total_spammed_replies}}</span></div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}