{% extends 'adminpanel/base.html' %}

{% load static %}

{% block title %}Questions by Category{% endblock %}

{% block page_heading %}

<div>
    Questions by Category
    <div class="page-title-subheading">This is a dedicated Moderator dashboard for Collectanea Content writers
    </div>
</div>

{% endblock %}


{% block dashboard %}

<div class="container">
  <div class="search-wrapper mb-4 ml-1">
      <div class="input-holder">
          <input type="text" class="search-input" placeholder="Type to search">
          <button class="search-icon"><span></span></button>
      </div>
      <button class="close"></button>
  </div>
<div class="row">
{% for question in questions %}
  <div class="col-md-4">
    <div class="main-card mb-3 card" style="height: 267px; position:relative;">
        <div class="card-body">
            <h5 class="card-title" 
                style="overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      font-size: 16px;
                      text-transform: capitalize;">
             <a href="{% url 'moderator:answer' question.id %}" style="text-decoration: none; color: #4c4c4c;"> 
              {{question.content}}  
            </a>
            </h5>
            
          <p class="card-subtitle">
                <div class="mb-2 mr-2 badge badge-pill badge-success">{{question.category}}</div>
                
            {% for keyword in question.keywords_associated.all %}
            <div class="mb-2 mr-2 badge badge-pill badge-info">{{keyword}}</div>
                {% endfor %}
                <div class="dropdown d-inline-block ">
                    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-outline-link"></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 33px, 0px);">
                        <button type="button" tabindex="0" class="dropdown-item js-edit-question" data-toggle="modal" data-target="#modal-book"  data-url="{% url 'moderator:edit_question' question.id %}">Edit</button>
                        <button type="button" tabindex="0" class="dropdown-item">Delete</button>
                    </div>
                </div>
            </p>

            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="btn-group">
                      <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                        <img width="42" class="rounded-circle" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
                      </a>
                                
                    </div>
                  </div>
                  <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading">
                      {{question.author}}
                    </div>
                    <div class="widget-subheading">
                      {{question.author.profession}}
                    </div>
                  </div>
                        
                </div>
            </div>  <p></p>
            <p style="position: absolute; bottom: 0;">
                Total Answers : {{question.answer_count}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-heart" aria-hidden="true" title="Copy to use thumbs-up">&nbsp;</i>{{question.like_count}}
              <i class="fa fa-fw" aria-hidden="true" title="Copy to use arrow-up"></i> {{question.upvote_count}}
              <i class="fa fa-fw" aria-hidden="true" title="Copy to use arrow-down"></i> {{question.downvote_count}}
            </p>
            
        </div>
  </div>
  </div>
{% endfor %}

</div>
</div>

{% endblock %}