{% extends 'adminpanel/base.html' %}

{% load static %}

{% block title %}Spammed{% endblock %}

{% block page_heading %}

<div>
    Spam Requests
    <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
    </div>
</div>

{% endblock %}


{% block dashboard %}

  <div class="row">

{% for question in questions %}  	
  	<div class="col-md-4 col-xs-12">
  		
  		<div class="main-card mb-3 card" style="position:relative; background-color: ;">
        <div class="card-body">          
            <div class="row">
              <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-size: 15px; font-weight: 600;">
                Question
                <img width="42" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
              </div>
              <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px; font-size: 15px; font-weight: 600;">
                <a href="" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #4c4c4c; display: inline-block;">
                  {{question.content}}
                </a>
              
              </div>
            </div>

            <p></p>
  
             <!-- Spammed By: Someone -->
             <div style="float: right;">
              <form method="POST" action="{% url 'adminpanel:spammed_question_action' question.id 0 %}">
                {% csrf_token %}
                <a onclick="this.parentNode.submit();">
                  <button class="btn ml-2 mb-1 mr-2 btn-warning" title="Approve as Spammed">Approve
                    <i class="fa fa-fw" aria-hidden="true"></i>
                  </button>  
                </a>
              </form>
              <form method="POST" action="{% url 'adminpanel:spammed_question_action' question.id 1 %}">
                {% csrf_token %}
                <a onclick="this.parentNode.submit();"> 
                <button class="btn ml-2 mb-1 btn-danger" title="Reject">Reject
                  <i class="fa fa-fw" aria-hidden="true"></i>
                </button>  
                </a>
              </form>
            </div>
            
            
        </div>
  	</div>

  </div>
{% endfor %}

{% for answer in answers %}

<div class="col-md-4 col-xs-12">
  		
  <div class="main-card mb-3 card" style="position:relative; background-color: ;">
    <div class="card-body">          
        <div class="row">
          <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-size: 15px; font-weight: 600;">
            Question
            <img width="42" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
          </div>
          <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px; font-size: 15px; font-weight: 600;">
            <a href="" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #4c4c4c; display: inline-block;">
              {{answer.question_id.content}}
            </a>
          
          </div>
        </div>

        <p></p>
        
         <div class="row ml-1">
           <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-weight: 550;">
             Answer
             <img width="40" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
           </div>
           <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px;; font-weight: 550;">
             <p>{{answer}}</p>
           </div>

         </div>  

         <!-- Spammed By: Someone -->
         <div style="float: right;">
          <form method="POST" action="{% url 'adminpanel:spammed_answer_action' answer.id 0 %}">
            {% csrf_token %}
            <a onclick="this.parentNode.submit();">
              <button class="btn ml-2 mb-1 mr-2 btn-warning" title="Approve as Spammed">Approve
                <i class="fa fa-fw" aria-hidden="true"></i>
              </button>  
            </a>
          </form>
          <form method="POST" action="{% url 'adminpanel:spammed_answer_action' answer.id 1 %}">
            {% csrf_token %}
            <a onclick="this.parentNode.submit();"> 
            <button class="btn ml-2 mb-1 btn-danger" title="Reject">Reject
              <i class="fa fa-fw" aria-hidden="true"></i>
            </button>  
            </a>
          </form>
        </div>
        
        
    </div>
</div>

</div>

{% endfor %}


{% for reply in replies %}

<div class="col-md-4 col-xs-12">
  		
  <div class="main-card mb-3 card" style="position:relative; background-color: ;">
    <div class="card-body">          
        <div class="row">
          <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-size: 15px; font-weight: 600;">
            Question
            <img width="42" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
          </div>
          <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px; font-size: 15px; font-weight: 600;">
            <a href="" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #4c4c4c; display: inline-block;">
              {{reply.answer.question_id.content}}
            </a>
          
          </div>
        </div>

        <p></p>
        
         <div class="row ml-1">
           <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-weight: 550;">
             Answer
             <img width="40" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
           </div>
           <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px;; font-weight: 550;">
             <p>{{reply.answer}}</p>
           </div>

         </div>            
         
         <div class="row ml-3">
           <div class="col-md-3 col-xs-3 text-center" style="padding-right: 10px; font-weight: 450;">
             Reply
             <img width="36" class="rounded-circle mt-2" src="/static/moderatorpanel/images/avatars/1.jpg" alt="">
           </div>
           <div class="col-md-9 col-xs-9 mt-2" style="padding: 0px; font-weight: 450;">
             <p>{{reply}}</p>
           </div>
        
         </div>

         <!-- Spammed By: Someone -->
         <div style="float: right;">
          <form method="POST" action="{% url 'adminpanel:spammed_reply_action' reply.id 0 %}">
            {% csrf_token %}
            <a onclick="this.parentNode.submit();">
              <button class="btn ml-2 mb-1 mr-2 btn-warning" title="Approve as Spammed">Approve
                <i class="fa fa-fw" aria-hidden="true"></i>
              </button>  
            </a>
          </form>
          <form method="POST" action="{% url 'adminpanel:spammed_reply_action' reply.id 1 %}">
            {% csrf_token %}
            <a onclick="this.parentNode.submit();"> 
            <button class="btn ml-2 mb-1 btn-danger" title="Reject">Reject
              <i class="fa fa-fw" aria-hidden="true"></i>
            </button>  
            </a>
          </form>
        </div>
        
        
    </div>
</div>

</div>

{% endfor %}

</div>


{% endblock %}